---
---
// content of your main.scss
/*
CSS http://clementrenaud.com
par Clément Renaud
hi@clementrenaud.com
*/

@charset "utf-8";

@import "includes/typo";
@import "includes/colors";
@import "includes/layout";
@import "includes/media";
@import "includes/biblio";
@import "includes/resume";
@import "includes/icons";
@import "includes/pdf";

$break-small :640px;

body {
    background: $background-color;
}


a, a:visited {
    text-decoration: none;
    color:$link-color;
}

a:hover {
    color:$link-hover-color;
}

h3:hover {
    color:$title-hover-color;
}

header {

  z-index: 9999;
  width: 100%;
  margin: 3em 0 .5em 0;

  h1 {
    font-size: 26pt;
    // font-weight: 500;
  }

  #main-title a, #desc a,  #main-title a:visited {
      color : $header-title-color;
  }

  #desc a:hover, #main-title a:hover {
     color : $title-hover-color;
  }

  .map path {
      stroke : none;
  }

}

#desc {
  margin-top: 1em;
  font-size: .9em;
  width:75%;
  p {
    text-align: left;
  }
}


#showcase {
  padding-top: 1em;
  .node {
    stroke: #fff;
    stroke-width: 1.5px;
  }

  .link {
    stroke: #999;
    stroke-opacity: .6;
  }

  path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
  }
}

img {
    max-width: 100%;
    height: auto;
}

#footer {
  background: #000;
  color: white;
  .container {
    padding-top : 2.5em;
  }
  p,a {
    color: white;
  }
}

#nav {

    margin: 13px 0 0 0;

    ul li {
      list-style: none;
      margin: 0 20px 0 0;
    }

    a {
        text-decoration: none;
        color: $header-link-color;
    }

    a:hover {
        color : $title-hover-color;
    }


    li {
        position: relative;
        margin: 7px 0 0 0;
        padding: 0 0 10px 0;
        background: none;
    }

    li a {
        padding: 0 5px 10px 0;
        text-decoration: none;
        -moz-transition: 0.2s ease-in;
        -webkit-transition: 0.2s ease-in;
    }

    li a:hover {
        background: none;
    }

    li ul {
        display: none;
        left: 0;
        position: absolute;
        bottom: 100%;
        background: none;
    }

    li:hover ul {
        display: block;
        width: auto;
    }

    li ul a {
        white-space: nowrap;
    }

    li ul a:hover {
        color : $title-hover-color;
    }
}

.project-container, .resume-container {
    padding-top: 5em;
}

#term-container, #term {
    height: 50vh;
}

.main {
    background: #FFF;
    padding-top: 9em;
}

p.projectTitle {
    // line-height: 1em;
    font-size: 2em;
}

.tall {
  height : 100%;
}

.home {
  overflow: hidden;
}
.cover {
    background-color: $background-color ;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transition: opacity 600ms ease-out;
    transition: opacity 600ms ease-out;
    opacity:0;
}

#projects {
  .nav-projects-mask {
    position: absolute;
    @media only screen and (max-width:640px) {
            position: relative
    }
    top: 10%;
    height: auto;
    bottom: 5%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  li {
    list-style: none;
    font-size: 26pt;
    @media only screen and (max-width:640px) {
        font-size: 20pt;
    }
    text-decoration: none;
    // float: left;
    // clear: left;
  }

  a {
    display: inline-block!important;
    white-space: nowrap;
    padding: .325rem .75rem;
    letter-spacing: .02em;

    &:hover {
      background-color: #000;
      color : white;
    }
  }
}


.tile {
    margin: 0 auto;
    p.projectTitle {
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom : 1px solid #AAA;
    }
    img {
      width: 100%;
      height: 150px;
    }
}

.small-tile {

    p.projectTitle {
        border-top : 1px solid #AAA;
        padding-top: 1em;
        margin-top: 1em;

    }
}

.project-frame {

    background: $tile-bg-color;
    color : $tile-title-color;
    // padding : .2em;
    margin-bottom: 1em;

    .project-content{
        padding : 1em
    }

}



.hero {
  max-height: 100vh;
  overflow: hidden;
  img {
    max-width: 100%;
    height: auto;
  }
  margin-bottom: 3.75rem;
}

#page {
  .title {
    margin: 1.25em 0;
  }
}

#project {

    padding : 0 3em 0 0;

    .project-desc {
      font-size: 1.2em;
      line-height: 1.3em;
    }

    p {
      margin-bottom: 2.25rem;
    }

    h2.title {
      margin: 0;
    }

    // a {
    //     font-weight: bold;
    // }
}

.video {
    text-align: center;
    padding-top : 2em;
}
#gallery {

    min-height:100%;
    position:relative;
    padding-top : 1em;

    ul{
        list-style: none;
        position: relative;
        height:100%;
        // max-width : 80%;
        margin: 0 auto;
    }

    img {
        max-width : 100%;
    }
}
#bio {
    p {

    }
}

.stop-scrolling {
    height: 100%;
    position: fixed;
    @media screen and (max-width: $break-small) {
      position: relative;
    }

}
