 <article class="small-tile workshop two columns">
  <div class="project-frame">
    <a href="{{this.path}}">
      <img src="{{this.path}}/thumbnail.png" class="projectThumb" alt=""/>
      <p class="projectTitle">
          <b>{{this.title}}</b>
          <br>
          <span class="projectDesc"><small>{{ this.desc }}</small></span>
          <br>
          <span class="projectDate"><small>{{ this.date}}</small></span>
                | 
          <span class="projectPlace"><small>{{ this.place}}</small></span>
      </p>
    </a>
    </div>
</article>
