 <article class="tile three columns">

      <div class="project-frame">
      <div class="project-content">
        <a href="{{this.path}}">
          <p class="projectTitle">
              <span class="project-info"> 
                <b>{{this.title}}</b>
              </span>
              <br>
              <span class="project-desc"><small>{{ this.desc }}</small>
                <br>
                <span class="project-date"><small>{{ this.date}}</small></span>
                |
                <span class="project-place"><small>{{ this.place}}</small></span>
              </span>
          </p>
          <img src="{{this.path}}/thumbnail.png" class="projectThumb" alt=""/>
        </a>
      </div>
      </div>
    </article>
