    <div class="container">
        <div class="row" id="footer">
            <p class="u-pull-right">
                {{ author.name }} - {{ author.email }}
            </p>
        </div>
    </div>
</div> <!-- end container -->

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="{{root_path}}/js/jquery.freetile.js"></script>
    <script type="text/javascript" src="{{root_path}}/js/gallery.js"></script>
    <script type="text/javascript" src="{{root_path}}/js/init-page.js"></script>
    <script type="text/javascript" src="{{root_path}}/js/init-index.js"></script>
</body>
</html>
