<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" if @fb-admin do xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" endif >
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    
    <title>{{ name }} </title>

    <link rel="stylesheet" href="{{root_path}}/css/index.css" type="text/css"  media="screen, tv, projection, handheld"/>
    <link rel="stylesheet" href="{{root_path}}/css/preview-boxes.css" type="text/css"  media="screen, tv, projection, handheld"/>
    <link rel="stylesheet" href="{{root_path}}/css/header.css" type="text/css"  media="screen, tv, projection, handheld"/>
    <link rel="stylesheet" href="{{root_path}}/css/fonts.css" type="text/css"/>
    <link rel="shortcut icon" href="{{root_path}}.ico" />
  </head>
  
  <body>
  <div id="outer-container">
    
    <div id="title">

        <h3 id="main-title">
          <a href="{{root_path}}">{{author.name}}</a> /
          <a href="{{root_path}}about">{{author.profession}}</a>
        </h3>

        <div id="desc">{{ author.headline }} </div>

      <nav class="rt">
          <span class="navitem"><a href="{{root_path}}">Home</a></span>
          <span class="navitem"><a href="{{root_path}}pages/about">About</a></span>
          <span class="navitem"><a href="{{root_path}}pages/contact">Contact</a></span>
      </nav>

    </div>
  
  <div class="compact" id="tags">
    <div class="nest border-top project-nest">
        <div class="tag">Index</div>
    </div>
    {{#each categories}}
    <div class="tag project-tag" id="{{ this }}">
        {{ this }}
        <span class="tip"> {{ this.count }}</span>
    </div>
    {{/each}}
  </div>
