<!DOCTYPE html>
<html lang="en">
<head>

<!--

                                                                                                                                      
  _|_|_|  _|                                                  _|          _|_|_|                                                  _|  
_|        _|    _|_|    _|_|_|  _|_|      _|_|    _|_|_|    _|_|_|_|      _|    _|    _|_|    _|_|_|      _|_|_|  _|    _|    _|_|_|  
_|        _|  _|_|_|_|  _|    _|    _|  _|_|_|_|  _|    _|    _|          _|_|_|    _|_|_|_|  _|    _|  _|    _|  _|    _|  _|    _|  
_|        _|  _|        _|    _|    _|  _|        _|    _|    _|          _|    _|  _|        _|    _|  _|    _|  _|    _|  _|    _|  
  _|_|_|  _|    _|_|_|  _|    _|    _|    _|_|_|  _|    _|      _|_|      _|    _|    _|_|_|  _|    _|    _|_|_|    _|_|_|    _|_|_|  
                                                                                                                                      
                                                                                                                                      

Clément Renaud - 2015 - http://clemenrenaud.com

All static HTML and JS
Thanks to node, Metalsmith, d3js and jQuery.

-->
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ author.name }} | {{author.profession}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
 
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--   <link rel="stylesheet" href="{{root_path}}/scss/normalize.css">
  <link rel="stylesheet" href="{{root_path}}/scss/skeleton.css">
  <link rel="stylesheet" href="{{root_path}}/scss/main.css"> -->
  <link rel="stylesheet" href="{{root_path}}/scss/app.css"> 

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <!-- Browser Specifics
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" media="all" href="css/IE.css">
  <![endif]-->

</head>
<body>

  <!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<header class="fixed-nav-bar full-width-container" id="branding">
  <div class="row">
      <div class="three columns">
          <h1 id="main-title">
                  <a href="/">{{author.name}}</a> 
          </h1>
          <div id="desc"><a href="/content/pages/bio">{{author.profession}}</a></div>
          <div id="nav">
            <ul class="nav-menu">
              <li class="navitem"><a class="bio" href="/content/pages/bio">About</a></li>
              <!-- <li class="navitem"><a class="publi" href="/content/pages/biblio">Scholar</a></li> -->
              <li class="navitem"><a class="random" href="#">Random</a></li>
              <li class="navitem"><a class="contact" href="#">Contact</a></li>
            </ul>
        </div>

      </div>
      <div  class="six columns">
        <div id="term">
        </div>
      </div>
      <div id="showcase" class="three columns">
      </div>
  </div>
</header>


  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="full-width-container main">
