{{> header}}

<article id="bio" class="row project-container">
    <div id="project" class="three columns doc learn">
        <h2>About</h2>
        {{{ contents }}}
    </div>

    <div class="social__container four columns">   

        <!-- social__item linkedin -->
        <div class="social__item">
                <a target="_blank" href="https://www.linkedin.com/pub/steven-roberts/7a/707/409" class="social__icon--linkedin"><i class="icon--linkedin"></i></a>
        </div>
        <!-- /social__item linkedin -->

        <!-- social__item twitter -->
        <div class="social__item">
                <a target="_blank" href="https://twitter.com/clemsos" class="social__icon--twitter"><i class="icon--twitter"></i></a>
        </div>
        <!-- /social__item twiter -->

        <!-- social__item soundcloud -->
        <div class="social__item">
                <a target="_blank" href="https://soundcloud.com/clemsos" class="social__icon--soundcloud"><i class="icon--soundcloud"></i></a>
        </div>
        <!-- /social__item soundcloud -->
     
        <!-- social__item github -->
        <div class="social__item">
                <a target="_blank" href="http://github.com/clemsos" class="social__icon--github"><i class="icon--github"></i></a>
        </div>
        <!-- /social__item github -->

    </div>

    <div id="contact-stuff" class="five columns">
    </div>
</article>
{{> footer}}
