{% include header.html %}

<div class="container resume-container">
    <div id="resume">

        <section id="header">
            <h1>{{site.data.resume.basics.name }}</h1>
            <h4>{{site.data.resume.basics.label}}</h4>
            <p><small>(CV exported from my <a target="_blank" href="http://fr.linkedin.com/in/clementrenaud">Linkedin</a> page on 2015-07-01)</small></p>
        </section>
        <section id="basics">
            {% if site.data.resume.basics.summary %}
            <div class="summary">
                <p>{{ site.data.resume.basics.summary}}</p>
            </div>
            {% endif %}
        </section>

        {% if site.data.resume.work %}
        <section id="work">
            <h2>Work Experiences</h2>
            {% for job in site.data.resume.work %}
            <div class="item">
                <h4 class="name">
                {% if job.position %}
                <span class="position">
                    {{job.position }}
                </span>
                {% endif %}
                 -
                {% if job.company %}
                    {{job.company}}
                {% endif %}
                </h4>
                <div class="date">
                    <b>
                    {% if job.startDate %}
                    <span class="startDate">
                        {{job.startDate }}
                    </span>
                    {% endif %}
                    {% if job.endDate %}
                    <span class="endDate">
                        - {{job.endDate }}
                    </span>
                    {% else %}
                    <span class="endDate">
                        - Present
                    </span>
                    {% endif %}
                    </b>
                </div>

                {% if job.website %}
                <div class="website">
                    <a href="{{job.website }}">{{job.website }}</a>
                </div>
                {% endif %}
                {% if job.summary %}
                <div class="summary">
                    <p>{{ job.summary}}</p>
                </div>
                {% endif %}
                {% if highlights %}
                <ul class="highlights">
                    {% for highlight in highlights %}
                    <li>{{ highlight }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </section>
        {% endif %}

        {% if site.data.resume.volunteer %}
        <section id="volunteer">
            <h2>Volunteer</h2>
            {% for volunteer in site.data.resume.volunteer %}
            <div class="item">
                {% if volunteer.organization %}
                <h3 class="company">
                    {{ volunteer.organization }}
                </h3>
                {% endif %}
                <div class="date">
                    {% if volunteer.startDate %}
                    <span class="startDate">
                        {{ volunteer.startDate }}
                    </span>
                    {% endif %}
                    {% if volunteer.endDate %}
                    <span class="endDate">
                        - {{ volunteer.endDate }}
                    </span>
                    {% else %}
                    <span class="endDate">
                        - Present
                    </span>
                    {% endif %}
                </div>
                {% if volunteer.position %}
                <div class="position">
                    {{ volunteer.position }}
                </div>
                {% endif %}
                {% if volunteer.website %}
                <div class="website">
                    <a href="{{ volunteer.website }}">{{ volunteer.website }}</a>
                </div>
                {% endif %}
                {% if volunteer.summary %}
                <div class="summary">
                    <p>{{ volunteer.summary}}</p>
                </div>
                {% endif %}
                {% if volunteer.highlights %}
                <ul class="highlights">
                    {% for highlight in volunteer.highlights %}
                    <li>{{highlight}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </section>
        {% endif %}

        {% if site.data.resume.education %}
        <section id="education">
            <h2>Education</h2>
            <ul>
            {% for educ in site.data.resume.education %}
            <li class="item">
                <p class="educ-item">
                    <b class="date">
                        {% if educ.startDate %}
                        <span class="startDate">
                            {{educ.startDate }}
                        </span>
                        {% endif %}
                        {% if educ.endDate %}
                        <span class="endDate">
                            - {{educ.endDate }}
                        </span>
                        {% else %}
                        <span class="endDate">
                            - Present
                        </span>
                        {% endif %}
                    </b>

                {% if educ.institution %}
                <span class="institution">
                    {{educ.institution }}
                </span>
                {% endif %}
                {% if educ.area %}
                <span class="area">
                    {{educ.area}}
                </span>
                {% endif %}
                {% if educ.studyType %}
                <span class="studyType">
                    {{educ.studyType }}
                </span>
                {% endif %}
                {% if educ.gpa %}
                <span class="gpa">
                    GPA: {{educ.gpa}}
                </span>
                {% endif %}
                {% if courses %}
                <ul class="courses">
                    {% for course in courses %}
                    <li>{{course }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
        </section>
        {% endif %}

        {% if site.data.resume.awards %}
        <section id="awards">
            <h2>Awards</h2>
            {% for award in site.data.resume.awards %}
            <div class="item">
                {% if award.title %}
                <div class="title">
                    {{award.title }}
                </div>
                {% endif %}
                {% if award.date %}
                <div class="date">
                    {{award.date }}
                </div>
                {% endif %}
                {% if award.awarder %}
                <div class="awarder">
                    {{award.awarder}}
                </div>
                {% endif %}
                {% if award.summary %}
                <div class="summary">
                    <p>{{award.summary}}</p>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </section>
        {% endif %}

        {% if site.data.resume.publications %}
        <section id="publications">
            <h2>Publications</h2>
            {% for publi in site.data.resume.publications %}
            <div class="item">
                {% if publi.name %}
                <div class="name">
                    {{publi.name }}
                </div>
                {% endif %}
                {% if publi.publisher %}
                <div class="publisher">
                    {{publi.publisher}}
                </div>
                {% endif %}
                {% if publi.releaseDate %}
                <div class="releaseDate">
                    {{publi.releaseDate }}
                </div>
                {% endif %}
                {% if publi.website %}
                <div class="website">
                    <a href="{{publi.website }}">Link</a>
                </div>
                {% endif %}
                {% if publi.summary %}
                <div class="summary">
                    <p>{{publi.summary}}</p>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </section>
        {% endif %}

        {% if site.data.resume.skills %}
        <section id="skills">
            <h2>Skills</h2>
            {% for skill in site.data.resume.skills %}
            <div class="item">
                {% if skill.name %}
                <div class="name">
                    {{skill.name }}
                </div>
                {% endif %}
                {% if skill.level %}
                <div class="level">
                    <em>{{skill.level}}</em>
                </div>
                {% endif %}
                {% if skill.keywords %}
                <ul class="keywords">
                    {% for kw in  skill.keywords %}
                    <li>{{kw}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </section>
        {% endif %}

        {% if site.data.resume.languages %}
        <section id="languages">
            <h2>Languages</h2>
            {% for lang in site.data.resume.languages %}
            <p class="item">
                {% if lang.language %}
                <span class="language">
                    <b>
                        {{lang.language }}
                    </b>
                </span>
                {% endif %}
                {% if lang.fluency %}
                <span class="fluency">
                    {{lang.fluency}}
                </span>
                {% endif %}
            </p>
            {% endfor %}
        </section>
        {% endif %}

        {% if site.data.resume.interests.length %}
        <section id="interests">
            <h2>Interests</h2>
            {% for interest in site.data.resume.interests %}
            <div class="item">
                {% if interest.name %}
                <div class="name">
                    {{interest.name }}
                </div>
                {% endif %}
                {% if interest.keywords %}
                <ul class="keywords">
                    {% for kw in keywords %}
                    <li>{{kw}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </section>
        {% endif %}

        {% if site.data.resume.references %}
        <section id="references">
            <h2>References</h2>
            {% for ref in site.data.resume.references %}
            <div class="item">
                {% if ref.reference %}
                <blockquote class="reference">
                    {{ref.reference }}
                </blockquote>
                {% endif %}
                {% if ref.name %}
                <div class="name">
                    — {{ref.name }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </section>
        {% endif %}


        <h3>Contact</h3>
        <div class="contact">
            {% if site.data.resume.basics.website %}
            <div class="website">
                <strong>Website</strong>
                {{site.data.resume.basics.website }}
            </div>
            {% endif %}
            {% if site.data.resume.basics.email %}
            <div class="email">
                <strong>Email</strong>
                {{site.data.resume.basics.email}}
            </div>
            {% endif %}
            {% if site.data.resume.basics.phone %}
            <div class="phone">
                <strong>Phone</strong>
                {{site.data.resume.basics.phone }}
            </div>
            {% endif %}
        </div>

        <section id="location">
            {% if site.data.resume.basics.location.address %}
            <div class="address">
                <strong>Address</strong>
                {{site.data.resume.basics.location.address }}
            </div>
            {% endif %}
            {% if site.data.resume.basics.location.postalCode %}
            <div class="postalCode">
                <strong>Postal code</strong>
                {{site.data.resume.basics.location.postalCode }}
            </div>
            {% endif %}
            {% if site.data.resume.basics.location.city %}
            <div class="city">
                <strong>City</strong>
                {{site.data.resume.basics.location.city}}
            </div>
            {% endif %}
            {% if site.data.resume.basics.location.countryCode %}
            <div class="countryCode">
                <strong>Country code</strong>
                {{site.data.resume.basics.location.countryCode }}
            </div>
            {% endif %}
            {% if site.data.resume.basics.location.region %}
            <div class="region">
                <strong>Region</strong>
                {{site.data.resume.basics.location.region }}
            </div>
            {% endif %}
        </section>

    </div>
</div>
{% include footer.html %}
<script>
    // sort education by year
    var mylist = $('#education ul');
    var listitems = mylist.children('li').get();
    listitems.sort(function(a, b) {
       return -$(a).text().toUpperCase().localeCompare($(b).text().toUpperCase());
    })
    $.each(listitems, function(idx, itm) { mylist.append(itm); });
</script>
