{% include header.html %}

<div class="container resume-container">
    <div id="resume">

        {{#resume.basics}}
        <section id="header">
            <h1>{{name}}</h1>
            <h4>{{label}}</h4>
            <p><small>(CV exported from my <a target="_blank" href="http://fr.linkedin.com/in/clementrenaud">Linkedin</a> page on 2015-07-01)</small></p>
        </section>
        <section id="basics">
            {{#if summary}}
            <div class="summary">
                <p>{{breaklines summary}}</p>
            </div>
            {{/if}}
        </section>
        {{/resume.basics}}

        {{#if resume.work.length}}
        <section id="work">
            <h2>Work Experiences</h2>
            {{#each resume.work}}
            <div class="item">
                <h4 class="name"> 
                {{#if position}}
                <span class="position">
                    {{position}}
                </span>
                {{/if}}
                 - 
                {{#if company}}
                    {{company}} 
                {{/if}}
                </h4>
                <div class="date">
                    <b>
                    {{#if startDate}}
                    <span class="startDate">
                        {{startDate}}
                    </span>
                    {{/if}}
                    {{#if endDate}}
                    <span class="endDate">
                        - {{endDate}}
                    </span>
                    {{else}}
                    <span class="endDate">
                        - Present
                    </span>
                    {{/if}}
                    </b>
                </div>
                
                {{#if website}}
                <div class="website">
                    <a href="{{website}}">{{website}}</a>
                </div>
                {{/if}}
                {{#if summary}}
                <div class="summary">
                    <p>{{ breaklines summary}}</p>
                </div>
                {{/if}}
                {{#if highlights.length}}
                <ul class="highlights">
                    {{#each highlights}}
                    <li>{{.}}</li>
                    {{/each}}
                </ul>
                {{/if}}
            </div>
            {{/each}}
        </section>
        {{/if}}

        {{#if resume.volunteer.length}}
        <section id="volunteer">
            <h2>Volunteer</h2>
            {{#each resume.volunteer}}
            <div class="item">
                {{#if organization}}
                <h3 class="company">
                    {{organization}}
                </h3>
                {{/if}}
                <div class="date">
                    {{#if startDate}}
                    <span class="startDate">
                        {{startDate}}
                    </span>
                    {{/if}}
                    {{#if endDate}}
                    <span class="endDate">
                        - {{endDate}}
                    </span>
                    {{else}}
                    <span class="endDate">
                        - Present
                    </span>
                    {{/if}}
                </div>
                {{#if position}}
                <div class="position">
                    {{position}}
                </div>
                {{/if}}
                {{#if website}}
                <div class="website">
                    <a href="{{website}}">{{website}}</a>
                </div>
                {{/if}}
                {{#if summary}}
                <div class="summary">
                    <p>{{summary}}</p>
                </div>
                {{/if}}
                {{#if highlights.length}}
                <ul class="highlights">
                    {{#each highlights}}
                    <li>{{.}}</li>
                    {{/each}}
                </ul>
                {{/if}}
            </div>
            {{/each}}
        </section>
        {{/if}}
        
        {{#if resume.education.length}}
        <section id="education">
            <h2>Education</h2>
            <ul>
            {{#each resume.education}}
            <li class="item">
                <p class="educ-item">
                    <b class="date">
                        {{#if startDate}}
                        <span class="startDate">
                            {{startDate}}
                        </span>
                        {{/if}}
                        {{#if endDate}}
                        <span class="endDate">
                            - {{endDate}}
                        </span>
                        {{else}}
                        <span class="endDate">
                            - Present
                        </span>
                        {{/if}}
                    </b>

                {{#if institution}}
                <span class="institution">
                    {{institution}}
                </span>
                {{/if}}
                {{#if area}}
                <span class="area">
                    {{area}}
                </span>
                {{/if}}
                {{#if studyType}}
                <span class="studyType">
                    {{studyType}}
                </span>
                {{/if}}
                {{#if gpa}}
                <span class="gpa">
                    GPA: {{gpa}}
                </span>
                {{/if}}
                {{#if courses.length}}
                <ul class="courses">
                    {{#each courses}}
                    <li>{{.}}</li>
                    {{/each}}
                </ul>
                {{/if}}
            </li>
            {{/each}}
            </ul>
        </section>
        {{/if}}
        
        {{#if resume.awards.length}}
        <section id="awards">
            <h2>Awards</h2>
            {{#each resume.awards}}
            <div class="item">
                {{#if title}}
                <div class="title">
                    {{title}}
                </div>
                {{/if}}
                {{#if date}}
                <div class="date">
                    {{date}}
                </div>
                {{/if}}
                {{#if awarder}}
                <div class="awarder">
                    {{awarder}}
                </div>
                {{/if}}
                {{#if summary}}
                <div class="summary">
                    <p>{{summary}}</p>
                </div>
                {{/if}}
            </div>
            {{/each}}
        </section>
        {{/if}}
        
        {{#if resume.publications.length}}
        <section id="publications">
            <h2>Publications</h2>
            {{#each resume.publications}}
            <div class="item">
                {{#if name}}
                <div class="name">
                    {{name}}
                </div>
                {{/if}}
                {{#if publisher}}
                <div class="publisher">
                    {{publisher}}
                </div>
                {{/if}}
                {{#if releaseDate}}
                <div class="releaseDate">
                    {{releaseDate}}
                </div>
                {{/if}}
                {{#if website}}
                <div class="website">
                    <a href="{{website}}">Link</a>
                </div>
                {{/if}}
                {{#if summary}}
                <div class="summary">
                    <p>{{summary}}</p>
                </div>
                {{/if}}
            </div>
            {{/each}}
        </section>
        {{/if}}
        
        {{#if resume.skills.length}}
        <section id="skills">
            <h2>Skills</h2>
            {{#each resume.skills}}
            <div class="item">
                {{#if name}}
                <div class="name">
                    {{name}}
                </div>
                {{/if}}
                {{#if level}}
                <div class="level">
                    <em>{{level}}</em>
                </div>
                {{/if}}
                {{#if keywords.length}}
                <ul class="keywords">
                    {{#each keywords}}
                    <li>{{.}}</li>
                    {{/each}}
                </ul>
                {{/if}}
            </div>
            {{/each}}
        </section>
        {{/if}}

        {{#if resume.languages.length}}
        <section id="languages">
            <h2>Languages</h2>
            {{#each resume.languages}}
            <p class="item">
                {{#if language}}
                <span class="language">
                    <b>
                        {{language}}
                    </b>
                </span>
                {{/if}}
                {{#if fluency}}
                <span class="fluency">
                    {{fluency}}
                </span>
                {{/if}}
            </p>
            {{/each}}
        </section>
        {{/if}}

        {{#if resume.interests.length}}
        <section id="interests">
            <h2>Interests</h2>
            {{#each resume.interests}}
            <div class="item">
                {{#if name}}
                <div class="name">
                    {{name}}
                </div>
                {{/if}}
                {{#if keywords.length}}
                <ul class="keywords">
                    {{#each keywords}}
                    <li>{{.}}</li>
                    {{/each}}
                </ul>
                {{/if}}
            </div>
            {{/each}}
        </section>
        {{/if}}
        
        {{#if resume.references.length}}
        <section id="references">
            <h2>References</h2>
            {{#each resume.references}}
            <div class="item">
                {{#if reference}}
                <blockquote class="reference">
                    {{reference}}
                </blockquote>
                {{/if}}
                {{#if name}}
                <div class="name">
                    — {{name}}
                </div>
                {{/if}}
            </div>
            {{/each}}
        </section>
        {{/if}}

    {{#resume.basics}}
        <h3>Contact</h3>
        <div class="contact">
            {{#if website}}
            <div class="website">
                <strong>Website</strong>
                {{website}}
            </div>
            {{/if}}
            {{#if email}}
            <div class="email">
                <strong>Email</strong>
                {{email}}
            </div>
            {{/if}}
            {{#if phone}}
            <div class="phone">
                <strong>Phone</strong>
                {{phone}}
            </div>
            {{/if}}
        </div>
        {{#location}}
        <section id="location">
            {{#if address}}
            <div class="address">
                <strong>Address</strong>
                {{address}}
            </div>
            {{/if}}
            {{#if postalCode}}
            <div class="postalCode">
                <strong>Postal code</strong>
                {{postalCode}}
            </div>
            {{/if}}
            {{#if city}}
            <div class="city">
                <strong>City</strong>
                {{city}}
            </div>
            {{/if}}
            {{#if countryCode}}
            <div class="countryCode">
                <strong>Country code</strong>
                {{countryCode}}
            </div>
            {{/if}}
            {{#if region}}
            <div class="region">
                <strong>Region</strong>
                {{region}}
            </div>
            {{/if}}
        </section>
        {{/location}}
        {{/resume.basics}}
    </div>
</div>
{% include footer.html %}
<script>
    // sort education by year
    var mylist = $('#education ul');
    var listitems = mylist.children('li').get();
    listitems.sort(function(a, b) {
       return -$(a).text().toUpperCase().localeCompare($(b).text().toUpperCase());
    })
    $.each(listitems, function(idx, itm) { mylist.append(itm); });
</script>
