  <div id="footer">
    <div class="container">
        <div class="row" >
          <div class="four columns">
            <h5>{{ site.author.name }}</h5>
            <p>{{ site.description }}</p>
          </div>
          <div class="four columns" id="social">
            <div class="social__item">
                    <a target="_blank" href="https://www.linkedin.com/pub/steven-roberts/7a/707/409" class="social__icon--linkedin"><i class="icon--linkedin"></i></a>
            </div>
            <div class="social__item">
                    <a target="_blank" href="https://twitter.com/clemsos" class="social__icon--twitter"><i class="icon--twitter"></i></a>
            </div>
            <div class="social__item">
                    <a target="_blank" href="http://github.com/clemsos" class="social__icon--github"><i class="icon--github"></i></a>
            </div>
          </div>
          <div class="four columns" id="ok">
              For questions and inquiries : <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
          </div>
        </div>
    </div>
  </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-31114908-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>
