  <div id="footer">
    <div class="container">
        <div class="row" >
          <div class="four columns">
            <h5>{{ site.author.name }}</h5>
            <p>{{ site.description }}</p>
          </div>
          <div class="four columns" id="social">
            {% include social.html %}
          </div>
          <div class="four columns" id="ok">
              For questions and inquiries : <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
          </div>
        </div>
    </div>
  </div>
    <!-- <script type="text/javascript"   src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script> -->
    <script type="text/javascript"   src="/lib/jquery.js"></script>
    <script>
      $( document ).ready(function() {
        console.log("Check this website code on http://github.com/clemsos/clemsos.github.io")

        {% if page.layout != "home" %}
          $('#branding').addClass('sticky');
          $(window).scroll(function(e) {
            var window_top = $(window).scrollTop();
            var div_top = $('#sticky-anchor').offset().top - 200;
            if (window_top > 25 && window_top - div_top < 50) {
              $('#branding').fadeOut(250);
            } else {
                $('#branding').fadeIn(250);
            }

          });
          {% endif %}

          {% if page.layout == "home" %}
            // console.log("homepage");
            $("#projects a").hover(function(e){
              var id = $(this).data("id");
              // console.log(".thumbnail[data-id='"+id+"']")
              $(".thumbnail[data-id='"+id+"']").css({
                  "transition-delay": "100ms",
                  "opacity": "1"
              });
            }, function(e){
              var id = $(this).data("id");
              $(".thumbnail[data-id='"+id+"']").css({
                  "transition-delay": "100ms",
                  "opacity": "0"
              });
            })

            // auto scroll
            $("#projects").mousemove(function (e) {

              // Define size for top and bottom regions
              var bottomRegionSize = 200;
              var topRegionSize = 200;
              var myscroll = $('.nav-projects-mask')
              var y = e.pageY - $(this).offset().top;
              var delta = y * 0.02;

              if (y >= myscroll.offset().top && y <= myscroll.offset().top+topRegionSize) {
                  // Move to top
                  myscroll.scrollTop(function(i, v) {
                      return v - delta;
                  });
              }
              else if (y >= (myscroll.height() - bottomRegionSize) && y <= myscroll.height()) {
                  //Down
                  myscroll.scrollTop(function(i, v) {
                      return v + delta/3;
                  });
              }
            });
          {% endif %}

      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-31114908-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>
