  <footer id="footer">
    <div class="container">
      <div class="row">
      <h5>
        <a title="Back to the home page" href="/">{{ site.author.name }}</a>
      </h5>
      </div>
      <div class="row" >
        <div class="four columns">
          <p>{{ site.description }}</p>
        </div>
        <div class="four columns" id="social">
          {% include social.html %}
        </div>
        <div class="four columns" id="ok">
          <p>
            For questions and inquiries : <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  {% include scripts.html %}
</body>
</html>
