<div class="cover">
  {%for post in site.projects reversed %}
    {% if post.hide != true %}
      <div class="thumbnail" data-id="{{ forloop.index }}" data-src="{{ post.url | | remove: 'index' | remove: '.html' }}{{ post.thumbnail }}" style="background-image:url({{ post.url | | remove: 'index' | remove: '.html' }}{{ post.thumbnail }})"></div>
    {% endif %}
  {% endfor %}
</div>
<div class="home container tall">
  <div class="row">
    <div class="six columns tall">
      {% include menu.html %}
    </div>
    <div id="projects" class="six columns tall">
      <div class="nav-projects-mask">
        <ul>
          {%for post in site.projects reversed %}
            {% if post.hide != true %}
              <li>
                <a href="{{post.url}}" data-id="{{ forloop.index }}">{{post.title}}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div> <!-- end .main container -->
