<div id="desc"><a href="/content/pages/bio">{{site.author.profession}}</a></div>
<div id="nav">
  <ul class="nav-menu">
    <li class="navitem"><a class="bio" href="/pages/bio">About</a></li>
    <li class="navitem"><a class="publi" href="/pages/resume">Resume</a></li>
    <li class="navitem"><a class="biblio" href="/pages/biblio">Publications</a></li>
    <li class="navitem"><a class="random" href="#">Random</a></li>
    <li class="navitem"><a class="contact" href="#">Contact</a></li>
  </ul>
</div>
