<!-- <div id="desc"><a href="/content/pages/bio">{{site.author.tagline}}</a></div> -->
<div id="desc">
  <p>{{site.description}}</p>
</div>
<div id="nav">
  <ul class="nav-menu">
    <li class="navitem"><a href="/">Research / Create</a></li>
    <li class="navitem"><a href="/write">Write / Exhibit </a></li>
    <li class="navitem"><a href="/teach">Teach / Talk</a></li>
    <li class="navitem"><a href="/about">About</a></li>
    <li class="navitem" style="padding-top:.3em">{% include social.html %}</li>
  </ul>
</div>
