<div class="social">
  <div class="social__item">
          <a target="_blank" href="https://twitter.com/clemsos" class="social__icon--twitter"><i class="icon--twitter"></i></a>
  </div>
  <div class="social__item">
          <a target="_blank" href="http://github.com/clemsos" class="social__icon--github"><i class="icon--github"></i></a>
  </div>
  <div class="social__item">
          <a target="_blank" href="https://www.linkedin.com/in/clementrenaud" class="social__icon--linkedin"><i class="icon--linkedin"></i></a>
  </div>
  <div class="social__item">
          <a target="_blank" href="mailto:hi@clementrenaud.com" class="social__icon--mail"><i class="icon--mail"></i></a>
  </div>
</div>
