body {
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
}

h1,h2,h3,h4 {
  font-weight: 400;
}

small {
  font-weight: 300
}

#title {
  /*font-size: 1.3em;*/
  min-width:620px;
  text-align:left;
  margin:0 auto;
  padding:1.8em 0 0 0;
  border-bottom:1px dashed #ddd;
  display:block;
}


#title h3 {
  font-size:1.1em;
}

#desc {
  min-width:620px;
  text-align:left;
  margin:0 auto;
  padding:0.5em 0 0.8em 0;
  color:#999;
  font-size:.9em;
}

.rt {
  font-size:10px;
  padding:0;
  margin:.5em 0;
  width:100%;
  text-align: right;
}

.rt .navitem {
  margin:0 1.2em 0 0;
}

.rt .navitem .shorturllabel {
  position:relative;
  display:none;
  color: #999;
}
