$background-color :    #FFF;

// typo
$text-color             : #595454;
$highlight-color        : #555;
$link-color             : #000; //#DDB313;
$link-hover-color       : #656565;

$title-hover-color      : #000000;

//header
$header-title-color      : #595454;
$header-desc-color       : #FFF;
$header-link-color       : #AAAAAA;

// home
$tile-bg-color       : #FFF;
$tile-title-color       : #595454;

$section-title-color    : #AAAAAA;
$subsection-title-color : #AAAAAA;
