.resume-container{
    background-image: url("/pages/resume/LinkedInNetwork.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#resume {

    margin: 0 auto;
    max-width: 480px;
    padding: 0 20px;
    background: rgba(255,255,255, .85);

    a {
        font-weight: bolder;
        text-decoration: underline
    }

    #header {
        text-align: center;
        p {text-align: center;}
        h1 {}
        h4{ margin: 5px 0 5px 0;}
    }

    h2 {
        font-size: 2.3em;
    }

    h4 {
        font-size: 1.5em;
        color : $text-color;
        margin: 20px 0 5px 0;
    }
    #basics {
        margin-bottom: -10px;
    }
    #basics h3 {
        margin-top: 1.5em;
    }
    .contact strong,
    #location strong {
        clear: both;
        float: left;
        line-height: 1.3;
        width: 120px;
    }
    #profiles,
    #skills {
        overflow: hidden;
    }
    #profiles .item,
    #skills .item {
        float: left;
        width: 33%;
    }
    #education, #languages {
        p {
            margin: 0;
        }

        ul {
                list-style-type: none;
        }
    }
}
