{% include head.html %}
{% include header.html %}
<div class="cover">
</div>
<div class="home container tall">
  <div class="row">
    <div class="six columns tall">
      {% include menu.html %}
    </div>
    <div id="projects" class="six columns tall">
      <div class="nav-projects-mask">
        <ul>
          {%for post in site.projects reversed %}
            {% if post.hide != true %}
              <li><a href="{{post.url}}" data-src="{{ post.url | | remove: 'index' | remove: '.html' }}thumbnail.png">{{post.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div> <!-- end .main container -->


<script src="/js/home.js" charset="utf-8"></script>
{% include footer.html %}
