 <article class="small-tile workshop two columns">
  <div class="project-frame">
    <a href="{{ post.url | remove: 'index' | remove: '.html' }}">
      <img src="{{ post.url | remove: 'index' | remove: '.html' }}/thumbnail.png" class="projectThumb" alt=""/>
      <p class="projectTitle">
          <b>{{post.title}}</b>
          <br>
          <span class="projectDesc"><small>{{ post.desc }}</small></span>
          <br>
          <span class="projectDate"><small>{{ post.date | date: "%Y" }}</small></span>
                |
          <span class="projectPlace"><small>{{ post.place}}</small></span>
      </p>
    </a>
    </div>
</article>
