 <article class="tile three columns">

      <div class="project-frame">
      <div class="project-content">
        {{post.url | remove: 'index' }}
        <a href="{{post.url | remove: 'index' }}">
          <p class="projectTitle">
              <span class="project-info">
                <b>{{ post.title }}</b>
              </span>
              <br>
              <span class="project-desc"><small>{{ post.desc }}</small>
                <br>
                <span class="project-date"><small>{{ post.date}}</small></span>
                |
                <span class="project-place"><small>{{ post.place}}</small></span>
              </span>
          </p>
          <img src="{{post.url | remove: 'index'}}thumb.png" class="projectThumb" alt=""/>
        </a>
      </div>
      </div>
    </article>
