 <article class="tile three columns">

      <div class="project-frame">
      <div class="project-content">
        <a href="{{ post.url | remove: 'index' | remove: '.html' }}">
          <p class="projectTitle">
              <span class="project-info">
                <b>{{ post.title }}</b>
              </span>
              <br>
              <span class="project-desc"><small>{{ post.desc }}</small>
                <br>
                <span class="project-date"><small>{{ post.date | date: "%Y" }}</small></span>
                |
                <span class="project-place"><small>{{ post.place}}</small></span>
              </span>
          </p>
          <img src="{{ post.url | | remove: 'index' | remove: '.html' }}thumbnail.png" class="projectThumb" alt=""/>
        </a>
      </div>
      </div>
    </article>
